.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ocupa casi toda la altura */
}

.big-logo {
  max-width: 500px; /* Tamaño del logo */
  width: 100%;
}