/*GUÍA DE ESTILOS */

/* TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Morpheus';
  src: url('/fonts/MORPHEUS.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* COLORES */
:root {
  --azul-oscuro: #1d264e;       
  --amarillo-dorado: #C7A938;   
  --blanco: #ffffff;            
  --gris-pestanas: #f4f4f4;     
  --rojo-cerrar: #ff4d4d;       
  --rojo-cerrar-hover: #c9302c; 
  --azul-claro: #4d4f58;
}

/* ESTILOS BASE*/
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--blanco);
  font-family: 'Comfortaa', sans-serif;
}

button, input, select, textarea {
  font-family: 'Comfortaa', sans-serif;
}

h1, h2, h3, h4, h5, h6, .window-title, .ribbon-tabs button, .empty-state h1 {
  font-family: 'Morpheus', serif !important;
}